    <!-- include header -->
<%- include('include/_header') %>
<!-- /include header -->
    <!-- Main Site -->
    <main id="site-main">
        <h3 class="text-gradient text-center" >Listas de Actividades </h3>
        <br><br>
        <div class="container">
            <div class="box-nav d-flex justify-between">
                <a href="/perguntas" class="border-shadow">
                    <span class="text-gradient">Pagina de configuração de actividades<i class="fas fa-tasks"></i></span>
                </a>
            </div>

            <!-- form handling -->
            <form action="/" method="POST">
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Descrição </th>
                            <th>url de configuracão</th>
                           
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <%- include('include/_show') %>
                    </tbody>
                </table>
            </form>
        </div>
    </main>
<!-- /Main Site -->


<!-- include footer -->
<%- include('include/_footer') %>
<!-- /include footer -->